@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1E0A3C;
  --primary: #C7002B;
  /* Regal Red */
  --secondary: #2B1555;
  /* Royal Indigo Light */
  --accent: #1E0A3C;
  /* Royal Indigo Deep */
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral-gray: var(--neutral-gray);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-serif: var(--font-serif);
  --font-inter: var(--font-inter);
  --font-newsreader: var(--font-newsreader);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
  font-weight: 400;
  @apply tracking-normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C7002B;
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}